.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow:
      0 3px 4px 0 rgba(0, 0, 3, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0);
  background-color: #327ba8;
  margin-bottom: 20px;
}

.link {
  margin: 5px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 35px;
  font-family: "revert",

}

.nav-items {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-between";
}

.card-container{
  padding: 20px;
  
  
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.card-heading{
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Roboto';

}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  
}
.active-link {
  text-decoration: underline;
  font-weight: bold;
}
.action-colomn {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
